node_modules/
.env
cache/
artifacts/
coverage/
coverage.json
typechain-types/
/types/
frontend/node_modules/
frontend/www/
frontend/.angular/
frontend/src/environments/deployment.json
subgraph/build/
subgraph/generated/
